#logo {
    position: absolute;
    left: 900px;
    width: 290px;
    height: 250px;
    margin: 20px;
}

header {
    text-align: center;
    color: royalblue;
}

.navigation {
    color: orange;
    position: absolute;
    margin: 10px;
    top: 300px;
    left: 850px;
}

h1 {
    text-align: center;
}

body {
    background-color: brown;
}

.ramen_page {
    color: orange;
}

.ramen_img {
    position: absolute;
    left: 760px;
    height: 350px;
    width: 500px;
}

#ramen_reciepe {
    text-align: center;
    color: orange;
    position: absolute;
    top: 600px;
    left: 20px;
}

#end_ramen {
    color: orange;
    text-align: center;
    position: absolute;
    top: 650px;
    left: 1540px;
}

.ramen_description {
    margin: 25px;
    position: absolute;
    top: 440px;
    text-align: center;
    color: orange;
}

#ramen_cooking {
    color: orange;
    position: absolute;
    text-align: center;
    top: 650px;
    left: 660px;
}


table, th, td {
    border:3px solid rgb(255, 165, 0);
  }

  #menu {
      position: absolute;
      top: 490px;
      left: 1050px;
      color: orange;
  }

  .LinkMenu {
    color: orange;
  }

  #AnimeGif {
    position: absolute;
    top:  700px;
    left: 950px;
  }

  #pancakes_logo {
      color: orange;
      position: absolute;
      left: 700px;
      text-align: center;
  }

  #wallpaper {
        background-color: orange;
        color: rgb(214, 149, 27);
  }

  #content {
      color: orangered;
      position: absolute;
      text-align: center;
      top: 600px;
      left: 570px;
  }

  .ToMainPage {
      color: orangered;
      position: absolute;
      top: 950px;
  }

 
